<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NekoNode Player</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000; /* Optional: set a background color */
        }
        #player {
            width: 100vw;
            height: 100vh;
            object-fit: cover; /* Ensure the video covers the entire area */
        }
    </style>
</head>
<body>
    <video id="player" controls>
        <source src="<%= videoUrl %>" type="application/x-mpegURL" />
    </video>

    <script src="https://cdn.plyr.io/3.6.8/plyr.polyfilled.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script>
        // show the [Nekonode] Player is ready message in the console but make the [] bold and the text color green
        console.log('%c[NekoNode]', 'color: green; font-weight: bold', 'Player is ready!');
        document.addEventListener('DOMContentLoaded', () => {
            const player = new Plyr('#player');
            const video = document.querySelector('#player');

            if (Hls.isSupported()) {
                const hls = new Hls();
                hls.loadSource('<%= videoUrl %>');
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED, function () {
                    video.play();
                });
                window.hls = hls;
            } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = '<%= videoUrl %>';
                video.addEventListener('canplay', function () {
                    video.play();
                });
            }
        });
    </script>
</body>
</html>
